rng/docbook-5.0-extension_rwdalpe-rpg.rnc

# Copyright (C) 2015 Robert Winslow Dalpe
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

namespace db = "http://docbook.org/ns/docbook"
namespace rpg = "http://docbook.org/ns/docbook"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace h = "http://www.w3.org/1999/xhtml"
default namespace = "http://docbook.org/ns/docbook"

include "docbookxi.rnc"

a:documentation [ """When you see a *.role.attribute definition, consider it a
declaration of a DocBook role attribute for that element, as that is what it
should be processed as.""" ]

rpg.general.modifier.role.attribute = attribute role { text }
rpg.general.modifier.value.attribute = attribute value { text }
rpg.general.modifier.attlist =
    rpg.general.modifier.role.attribute ?
    & rpg.general.modifier.value.attribute
    & db.common.attributes
    & db.common.linking.attributes
rpg.general.modifier =
    element modifier {
        rpg.general.modifier.attlist,
        (db._text 
         | db.indexing.inlines
         | db.link.inlines)*,
         rpg.general.qualifier?
    }

rpg.general.qualifier.role.attribute = attribute role { text }
rpg.general.qualifier.attlist =
    rpg.general.qualifier.role.attribute ?
    & db.common.attributes
    & db.common.linking.attributes
rpg.general.qualifier =
    element qualifier {
        rpg.general.qualifier.attlist,
        (db._text 
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.general.location.role.attribute = attribute role { text }
rpg.general.location.attlist =
    rpg.general.location.role.attribute ?
    & db.common.attributes
    & db.common.linking.attributes
## The name of a location
rpg.general.location =
    element location {
        rpg.general.location.attlist,
        (db._text 
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.d20.abilityscore.role.attribute = attribute role { text }
## The raw score value for an ability score,
rpg.d20.abilityscore.score.attribute = attribute score { text }
## The modifier for an ability score.
rpg.d20.abilityscore.modifier.attribute = attribute modifier { text }
rpg.d20.abilityscore.attlist =
    rpg.d20.abilityscore.role.attribute?
    & rpg.d20.abilityscore.score.attribute?
    & rpg.d20.abilityscore.modifier.attribute?
    & db.common.attributes
    & db.common.linking.attributes
[
  a:documentation[
    "An ability score from the d20 system, as described at "
    h:a[ href="http://paizo.com/pathfinderRPG/prd/gettingStarted.html#ability-scores" 
    "http://paizo.com/pathfinderRPG/prd/gettingStarted.html#ability-scores" ]"."
  ]
]
rpg.d20.abilityscore =
    element abilityscore {
        rpg.d20.abilityscore.attlist,
        (db._text 
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.d20.abilityscores.role.attribute = attribute role { text }
rpg.d20.abilityscores.attlist =
    rpg.d20.abilityscores.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
## A collection of ability scores for some entity.
rpg.d20.abilityscores =
    element abilityscores {
        rpg.d20.abilityscores.attlist,
        rpg.d20.abilityscore+
    }
    
rpg.d20.alignment.role.attribute = attribute role { text }
rpg.d20.alignment.attlist =
    rpg.d20.alignment.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
[
  a:documentation[
    "A d20 alignment, as described at "
    h:a[ href="http://www.d20srd.org/srd/description.htm#alignment"
    "http://www.d20srd.org/srd/description.htm#alignment"]
    "."
  ]
]
rpg.d20.alignment =
    element alignment {
        rpg.d20.alignment.attlist,
        (db._text 
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.d20.challengerating.role.attribute = attribute role { text }
rpg.d20.challengerating.attlist =
    rpg.d20.challengerating.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.challengerating =
    element challengerating {
        rpg.d20.challengerating.attlist,
        db._text
    }

rpg.d20.xpreward.role.attribute = attribute role { text }
rpg.d20.xpreward.attlist =
    rpg.d20.xpreward.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.xpreward =
    element xpreward {
        rpg.d20.xpreward.attlist,
        db._text
    }

rpg.d20.race.role.attribute = attribute role { text }
rpg.d20.race.attlist =
    rpg.d20.race.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.race =
    element race {
        rpg.d20.race.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)*
    }

rpg.d20.class.role.attribute = attribute role { text }
rpg.d20.class.level.attribute = attribute level { text }
rpg.d20.class.favored.attribute =  attribute favored { text }
rpg.d20.class.attlist =
    rpg.d20.class.role.attribute?
    & rpg.d20.class.level.attribute?
    & rpg.d20.class.favored.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.class =
    element class {
        rpg.d20.class.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)*
    }

rpg.d20.size.role.attribute = attribute role { text }
rpg.d20.size.attlist =
    rpg.d20.size.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.size =
    element size {
        rpg.d20.size.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)*
    }

rpg.d20.creaturetype.role.attribute = attribute role { text }
rpg.d20.creaturetype.attlist =
    rpg.d20.creaturetype.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.creaturetype =
    element creaturetype {
        rpg.d20.creaturetype.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)*
    }

rpg.d20.creaturesubtype.role.attribute = attribute role { text }
rpg.d20.creaturesubtype.attlist =
    rpg.d20.creaturesubtype.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.creaturesubtype =
    element creaturesubtype {
        rpg.d20.creaturesubtype.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)*
    }

rpg.d20.creaturename.role.attribute = attribute role { text }
rpg.d20.creaturename.attlist =
    rpg.d20.creaturename.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.creaturename =
    element creaturename {
        rpg.d20.creaturename.attlist,
        (db.person?
         & (db._text
            | db.indexing.inlines
            | db.link.inlines)*
        )
    }

rpg.d20.creaturetypes.role.attribute = attribute role { text }
rpg.d20.creaturetypes.attlist =
    rpg.d20.creaturesubtype.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.creaturetypes =
    element creaturetypes {
        rpg.d20.creaturesubtype.attlist,
        rpg.d20.creaturetype,
        rpg.d20.creaturesubtype*
    }

rpg.d20.initiative.role.attribute = attribute role { text }
rpg.d20.initiative.modifier.attribute = attribute modifier { text }
rpg.d20.initiative.attlist =
    rpg.d20.initiative.role.attribute?
    & rpg.d20.initiative.modifier.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.initiative =
    element initiative {
        rpg.d20.initiative.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)*
    }

rpg.d20.skill.role.attribute = attribute role { text }
rpg.d20.skill.modifier.attribute = attribute modifier { text }
rpg.d20.skill.attlist =
    rpg.d20.skill.role.attribute?
    & rpg.d20.skill.modifier.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.skill =
    element skill {
        rpg.d20.skill.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)*,
        rpg.general.qualifier?
    }

rpg.d20.dc.role.attribute = attribute role { text }
rpg.d20.dc.rating.attribute = attribute rating { text }
rpg.d20.dc.attlist =
    rpg.d20.dc.role.attribute?
    & rpg.d20.dc.rating.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.dc =
    element dc {
        rpg.d20.dc.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)*
    }

rpg.d20.ac.rating.role.attribute = attribute role { text }
rpg.d20.ac.rating.attlist =
    rpg.d20.ac.rating.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.ac.rating =
    element rating {
        rpg.d20.ac.rating.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.d20.ac.touch.role.attribute = attribute role { text }
rpg.d20.ac.touch.attlist =
    rpg.d20.ac.touch.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.ac.touch =
    element touch {
        rpg.d20.ac.rating.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.d20.ac.flatfoot.role.attribute = attribute role { text }
rpg.d20.ac.flatfoot.attlist =
    rpg.d20.ac.flatfoot.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.ac.flatfoot =
    element flatfoot {
        rpg.d20.ac.flatfoot.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.d20.ac.role.attribute = attribute role { text }
rpg.d20.ac.attlist =
    rpg.d20.ac.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.d20.ac =
    element ac {
        rpg.d20.ac.attlist,
        rpg.d20.ac.rating,
        rpg.d20.ac.touch?,
        rpg.d20.ac.flatfoot?,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)*,
        rpg.general.modifier*
    }

rpg.pathfinder.sense.role.attribute = attribute role { text }
rpg.pathfinder.sense.range.attribute = attribute range { text }
rpg.pathfinder.sense.attlist =
    rpg.pathfinder.sense.role.attribute?
    & rpg.pathfinder.sense.range.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.pathfinder.sense =
    element sense {
        rpg.pathfinder.sense.attlist,
        (db._text
         | db.indexing.inlines
         | db.link.inlines)*
    }

rpg.pathfinder.senses.role.attribute = attribute role { text }
rpg.pathfinder.senses.attlist =
    rpg.pathfinder.senses.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.pathfinder.senses =
    element senses {
        rpg.pathfinder.senses.attlist,
        rpg.pathfinder.sense*,
        rpg.d20.skill?
    }

rpg.pathfinder.aura.role.attribute = attribute role { text }
rpg.pathfinder.aura.range.attribute = attribute range { text }
rpg.pathfinder.aura.attlist =
    rpg.pathfinder.aura.role.attribute?
    & rpg.pathfinder.aura.range.attribute
    & db.common.attributes
    & db.common.linking.attributes
rpg.pathfinder.aura =
    element aura {
        rpg.pathfinder.aura.attlist,
        (
         rpg.d20.dc?
         & (db._text
            | db.indexing.inlines
            | db.link.inlines)*
        )
    }

rpg.pathfinder.defenses.role.attribute = attribute role { text }
rpg.pathfinder.defenses.attlist =
    rpg.pathfinder.defenses.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.pathfinder.defenses =
    element defenses {
        rpg.pathfinder.defenses.attlist,
        rpg.d20.ac
    }

rpg.pathfinder.creature.role.attribute = attribute role { text }
rpg.pathfinder.creature.attlist =
    rpg.pathfinder.creature.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
rpg.pathfinder.creature =
    element creature {
        rpg.pathfinder.creature.attlist,
        rpg.d20.creaturename,
        rpg.d20.challengerating,
        rpg.d20.xpreward,
        rpg.d20.race?,
        rpg.d20.class*,
        rpg.d20.alignment,
        rpg.d20.size,
        rpg.d20.creaturetypes,
        rpg.d20.initiative,
        rpg.pathfinder.senses?,
        rpg.pathfinder.aura*,
        rpg.pathfinder.defenses
    }

rpg.pathfinder.marketplace.role.attribute = attribute role { text }
[
  a:documentation [
    "The base value for a settlement as described at "
    h:a[href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#base-value-and-purchase-limit"
    "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#base-value-and-purchase-limit"]
    "."
  ]
]
rpg.pathfinder.marketplace.base.attribute = attribute base { text }
[
  a:documentation [
    "The purchase limit for a settlement as described at "
    h:a[href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#base-value-and-purchase-limit"
    "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#base-value-and-purchase-limit"]
    "."
  ]
]
rpg.pathfinder.marketplace.limit.attribute = attribute limit { text }
[
  a:documentation [
    "The spellcasting level for a settlement as described at "
    h:a[href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#spellcasting"
    "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#spellcasting"]
    "."
  ]
]
rpg.pathfinder.marketplace.casting.attribute = attribute casting { text }
[
  a:documentation [
    "The minor magic items available for a settlement as described at "
    h:a[href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#minor-items/medium-items/major-items"
    "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#minor-items/medium-items/major-items"]
    "."
  ]
]
rpg.pathfinder.marketplace.minor.attribute = attribute minor { text }
[
  a:documentation [
    "The medium magic items available for a settlement as described at "
    h:a[href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#minor-items/medium-items/major-items"
    "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#minor-items/medium-items/major-items"]
    "."
  ]
]
rpg.pathfinder.marketplace.medium.attribute = attribute medium { text }
[
  a:documentation [
    "The major magic items available for a settlement as described at "
    h:a[href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#minor-items/medium-items/major-items"
    "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#minor-items/medium-items/major-items"]
    "."
  ]
]
rpg.pathfinder.marketplace.major.attribute = attribute major { text }
rpg.pathfinder.marketplace.attlist =
    rpg.pathfinder.marketplace.role.attribute?
    & rpg.pathfinder.marketplace.base.attribute?
    & rpg.pathfinder.marketplace.limit.attribute?
    & rpg.pathfinder.marketplace.casting.attribute?
    & rpg.pathfinder.marketplace.minor.attribute?
    & rpg.pathfinder.marketplace.medium.attribute?
    & rpg.pathfinder.marketplace.major.attribute?
    & db.common.attributes
    & db.common.linking.attributes
## A section of a settlement statblock containing marketplace
## information about the settlement.
rpg.pathfinder.marketplace =
    element marketplace {
        rpg.pathfinder.marketplace.attlist
    }

rpg.pathfinder.population.role.attribute = attribute role { text }
## A description of the count of a population, most frequently numeric
## or percent.
rpg.pathfinder.population.count.attribute = attribute count { text }
rpg.pathfinder.population.attlist =
    rpg.pathfinder.population.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
## A group of creatures categorized and enumerated as one population group
rpg.pathfinder.population =
    element population {
        rpg.pathfinder.population.attlist,
        (
            (rpg.pathfinder.population.count.attribute, 
             (db._text 
              | db.indexing.inlines
              | db.link.inlines)*)
            | (rpg.pathfinder.population.count.attribute?, 
               (db._text
               | db.indexing.inlines
               | db.link.inlines)+)
        )
    }
rpg.pathfinder.populations.role.attribute = attribute role { text }
## A total count or other description of a settlement's populations.
rpg.pathfinder.populations.total.attribute = attribute total { text }
rpg.pathfinder.populations.attlist =
    rpg.pathfinder.populations.role.attribute?
    & rpg.pathfinder.populations.total.attribute?
    & db.common.attributes
    & db.common.linking.attributes
[
  a:documentation[
    "Describes a collection of populations. Described in greater detail at "
    h:a[ 
      href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#population" 
      "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#population"
    ]
    "."
  ]
]
rpg.pathfinder.populations =
    element populations {
        rpg.pathfinder.populations.attlist,
        rpg.pathfinder.population+
    }

rpg.pathfinder.government.role.attribute = attribute role { text }
rpg.pathfinder.government.attlist =
    rpg.pathfinder.government.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
[
  a:documentation[
    "A type of government. Described in greater detail at "
    h:a[ 
      href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#government" 
      "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#government"
    ]
    "."
  ]
]
rpg.pathfinder.government =
    element government {
        rpg.pathfinder.demographics.attlist,
        (db._text 
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.pathfinder.demographics.role.attribute = attribute role { text }
rpg.pathfinder.demographics.attlist =
    rpg.pathfinder.demographics.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
## A section of a settlement statblock containing demographics
## information about the settlement.
rpg.pathfinder.demographics =
    element demographics {
        rpg.pathfinder.demographics.attlist,
        rpg.pathfinder.government,
        rpg.pathfinder.populations
    }

rpg.pathfinder.settlementdisadvantage.role.attribute = attribute role { text }
rpg.pathfinder.settlementdisadvantage.attlist =
    rpg.pathfinder.settlementdisadvantage.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
[
  a:documentation[
    "A settlement disadvantage, as described at "
    h:a[
      href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#settlement-disadvantages"
      "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#settlement-disadvantages"
    ]
    "."
  ]
]
rpg.pathfinder.settlementdisadvantage =
    element settlementdisadvantage {
        rpg.pathfinder.settlementdisadvantage.attlist,
        (db._text 
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.pathfinder.settlementdisadvantages.role.attribute = attribute role { text }
rpg.pathfinder.settlementdisadvantages.attlist =
    rpg.pathfinder.settlementdisadvantages.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
## The section of a settlement statblock that lists all the disadvantages a
## settlement has.
rpg.pathfinder.settlementdisadvantages =
    element settlementdisadvantages {
        rpg.pathfinder.settlementdisadvantages.attlist,
        rpg.pathfinder.settlementdisadvantage+
    }

rpg.pathfinder.settlementdanger.role.attribute = attribute role { text }
## The modifier of a settlement's danger value.
rpg.pathfinder.settlementdanger.modifier.attribute = attribute modifier { text }
rpg.pathfinder.settlementdanger.attlist =
    rpg.pathfinder.settlementdanger.role.attribute?
    & rpg.pathfinder.settlementdanger.modifier.attribute?
    & db.common.attributes
    & db.common.linking.attributes
[
  a:documentation[
    "A settlement's danger, as described at "
    h:a[
      href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#danger"
      "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#danger"
    ]
    "."
  ]
]
rpg.pathfinder.settlementdanger =
    element settlementdanger {
        rpg.pathfinder.settlementdanger.attlist,
        (db._text 
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.pathfinder.settlementquality.role.attribute = attribute role { text }
rpg.pathfinder.settlementquality.attlist =
    rpg.pathfinder.settlementquality.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
[
  a:documentation[
    "A settlement quality, as described at "
    h:a[
      href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#settlement-qualities"
      "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html#settlement-qualities"
    ]
    "."
  ]
]
rpg.pathfinder.settlementquality =
    element settlementquality {
        rpg.pathfinder.settlementquality.attlist,
        (db._text 
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.pathfinder.settlementqualities.role.attribute = attribute role { text }
rpg.pathfinder.settlementqualities.attlist =
    rpg.pathfinder.settlementquality.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
## A section of a settlement's statblock describing all of that settlement's
## qualities.
rpg.pathfinder.settlementqualities =
    element settlementqualities {
        rpg.pathfinder.settlementquality.attlist,
        rpg.pathfinder.settlementquality+
    }

rpg.pathfinder.settlementtype.role.attribute = attribute role { text }
rpg.pathfinder.settlementtype.attlist =
    rpg.pathfinder.settlementtype.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
[
  a:documentation[
    "The type of a settlement, as described at "
    h:a[
      href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html"
      "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html"
    ]
    "."
  ]
]
rpg.pathfinder.settlementtype =
    element settlementtype {
        rpg.pathfinder.settlementtype.attlist,
        (db._text 
         | db.indexing.inlines
         | db.link.inlines)+
    }

rpg.pathfinder.settlement.role.attribute = attribute role { text }
rpg.pathfinder.settlement.attlist =
    rpg.pathfinder.settlement.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
[
  a:documentation[
    "A complete statblock for a pathfinder settlement, as described at "
    h:a[
      href="http://paizo.com/pathfinderRPG/prd/mastery/settlements.html"
      "http://paizo.com/pathfinderRPG/prd/mastery/settlements.html"
    ]
    "."
  ]
]
rpg.pathfinder.settlement =
    element settlement {
        rpg.pathfinder.settlement.attlist,
        rpg.general.location,
        rpg.d20.alignment,
        rpg.pathfinder.settlementtype,
        rpg.d20.abilityscores,
        rpg.pathfinder.settlementqualities,
        rpg.pathfinder.settlementdanger,
        rpg.pathfinder.settlementdisadvantages?,
        rpg.pathfinder.demographics,
        rpg.pathfinder.marketplace
    }

rpg.general.inlines = rpg.general.location
    | rpg.general.modifier

rpg.d20.creature.inlines = rpg.d20.challengerating
    | rpg.d20.xpreward
    | rpg.d20.race
    | rpg.d20.class
    | rpg.d20.size
    | rpg.d20.creaturetype
    | rpg.d20.creaturesubtype
    | rpg.d20.creaturename
rpg.d20.inlines = rpg.d20.alignment 
    | rpg.d20.abilityscore
    | rpg.d20.skill
    | rpg.d20.creature.inlines
    | rpg.d20.dc
    | rpg.d20.ac

rpg.d20.blocks = rpg.d20.abilityscores

rpg.pathfinder.creature.inlines = rpg.pathfinder.sense
    | rpg.pathfinder.aura
rpg.pathfinder.settlement.inlines = rpg.pathfinder.settlementtype 
    | rpg.pathfinder.settlementquality 
    | rpg.pathfinder.settlementdanger 
    | rpg.pathfinder.settlementdisadvantage 
    | rpg.pathfinder.government
    | rpg.pathfinder.population
rpg.pathfinder.inlines = rpg.d20.inlines 
    | rpg.pathfinder.settlement.inlines
    | rpg.pathfinder.creature.inlines

rpg.pathfinder.creature.blocks = rpg.pathfinder.creature
rpg.pathfinder.settlement.blocks = rpg.pathfinder.settlement 
rpg.pathfinder.blocks = rpg.d20.blocks
    | rpg.pathfinder.creature.blocks
    | rpg.pathfinder.settlement.blocks 

rpg.inlines = rpg.general.inlines 
    | rpg.d20.inlines
    | rpg.pathfinder.inlines
rpg.blocks = rpg.d20.blocks | rpg.pathfinder.blocks

db.nopara.blocks |= rpg.blocks
db.all.inlines |= rpg.inlines
